@import "tailwindcss";

@layer components {
  .headerImage {
    background: url(/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

ul {
  list-style: circle;
  padding: 0 1.5rem;
}